<!DOCTYPE html>
<html>
<head>
    <title>Listagem de Transações</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/transacoes_list.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Transações</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'transacao_create' %}">Adicionar Transação</a>
            <a href="{% url 'cotacao' %}"> Ver Cotações</a>
        </nav>
    </header>
    <section class="saldo">
        <h2>Saldo Total: R$ {{ saldo }}</h2>
        <main>
            <div class="tabela-container">
                <table>
                    <thead>
                        <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transacao in transacoes %}
                            <tr class="{{ transacao.tipo }}">
                                <td>{{ transacao.data }}</td>
                                <td>{{ transacao.descricao }}</td>
                                <td>{{ transacao.valor }}</td>
                                <td>{{ transacao.tipo }}</td>
                                <td>
                                    <a class="btn-excluir" href="{% url 'transacao_delete' transacao.pk %}">Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </section>
    <section class="grafico">
        <h2>Distribuição das Receitas</h2>
        <div class="grafico-container">
            {{ graphics|safe }}      
        </div>
    </section>
</body>
</html>
